:root {
    /*--primary-bg-color: #2C1A4D;*/
    /*--primary-color: #5B4B8A;*/
    --primary-bg-color: #235347;
    --primary-color: #8eb69b;
    --primary-text-color: #daf1de;
    --primary-text-dark: #0b2b26;
}
body{
    /*background-color: #FCBB12;*/
    /*background-color: #ffffff;*/
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.main-window{
    background-color: var(--primary-bg-color);
}
.navSection{
    /*margin-bottom: 5rem;*/
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
    -webkit-box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
    -moz-box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
}
.card-style{
    background-color: var(--primary-color);
    padding: 22px 0 22px 0;
    gap: 8px;
    max-width: 700px;
    min-width: 200px;
    height: 150px;
    border:none;
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 0 1px 14px 2px rgba(11,43,38,0.89);
    -webkit-box-shadow: 0 1px 14px 2px rgba(11,43,38,0.89);
    -moz-box-shadow: 0 1px 14px 2px rgba(11,43,38,0.89);
}
.cd-dash {
    border-radius: 10px;
    background: var(--primary-color);
    max-width: 800px;
    height: 150px;
    border:none;
    overflow: hidden;
    box-shadow: 0 1px 14px 2px rgba(11,43,38,0.89);
    -webkit-box-shadow: 0 1px 14px 2px rgba(11,43,38,0.89);
    -moz-box-shadow: 0 1px 14px 2px rgba(11,43,38,0.89);
}
.cd-smallText {
    color: var(--primary-text-dark);
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
}
.cd-bigText {
    color: var(--primary-text-dark);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}
.aboutUs {
    background-color: rgba(46, 157, 220, 0.05);
    border: none;
    color: black;
    text-decoration: none;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
}
.aboutUs:hover{
    background: #FFF;
}
.aboutUs:active{
    --bs-btn-active-bg: rgb(0,0,0,0.2);
}

.about-us-item {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.about-us-item .active {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    background: #2E8B57;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}
.list-group-item {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    background: #FFF;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2E8B57;
}
.list-group-item .active {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    background: #2E8B57;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}
.userProfile{
    border-radius: 6px;
    /*vertical-align: middle;*/
    align-items: center;
    background: var(--primary-color);
}

.welcome-text{
    color: var(--primary-text-dark);
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
}

.client-name{
    color: var(--primary-text-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    max-width: 155px;
}
.isActiveNav{
    color: #1d49a6;
    font-weight: bolder;
}
.view{
    margin: auto;
    /*background-color: rgba(255, 255, 255, 0.2); !* Semi-transparent background *!*/
    background-color: var(--primary-text-color);
    padding: 15px;
    border-radius: 10px;
    width: 35%;
    color: var(--primary-text-dark);
    border: 1px solid var(--primary-text-dark);
    font-size: large;
    box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
    -webkit-box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
    -moz-box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
}
.heading{
    margin: auto;
    width: 35%;
}
#bdSidebar {
    overflow-y: auto;
    height: 100vh;
    width: 280px;
}
#navLogo {
    align-content: center;
    width: 150px;
    height: 130px;
    left: calc(50% - 100px/2 - 641px);
    top: calc(50% - 100px/2 - 398px);
}
.mynav{
    color: var(--primary-text-dark);
}
.mynav li a {
    color: var(--primary-text-dark);
    text-decoration: none;
    width: 100%;
    /* display: block; */
    border-radius: 5px;
    padding: 8px 10px;
    display: flex;
    /* padding-left: 10px; */
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mynav li a:hover, .topNav li a:hover {
    background: rgba(0, 0, 0, 0.2);
}
.mynav li a i {
    width: 25px;
    text-align: center;
}
li .nav-item .active{
    color: #2E8B57;
}
.copyRt {
    color: var(--primary-text-dark) !important;
    margin-top: 100vh;
    text-align: center;
    font-size: small !important;
    font-weight: 500 !important;
    position: fixed;
    bottom: 0;
}
hr{
    color: var(--primary-color);
    height: 2px !important;
    opacity: 1 !important;
}
#bdSidebar hr {
    color: var(--primary-text-dark);
    height: 2px !important;
    opacity: 1 !important;
}
.dark-text{
    color: var(--primary-text-color);
    font-weight: 800;
}
#example{
    border-radius: 10px;
    font-size: larger;
    box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
    -webkit-box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
    -moz-box-shadow: 0px 1px 14px 2px rgba(11,43,38,0.89);
}