body{
    /*background-color: #FCBB12;*/
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.navSection{
    /*margin-bottom: 5rem;*/
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
}
.card-style{
    background-color: rgba(46, 139, 87, 0.05);
    padding: 22px 0 22px 0;
    gap: 8px;
    max-width: 700px;
    min-width: 200px;
    height: 150px;
    border:none;
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
}
.cd-dash {
    border-radius: 10px;
    background: rgba(46, 139, 87, 0.05);
    max-width: 800px;
    height: 150px;
    border:none;
    overflow: hidden;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.3);
}
.cd-smallText {
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
}
.cd-bigText {
    font-size: 22px;
    font-weight: 600;
    /*line-height: 42px;*/
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}
.aboutUs {
    background-color: rgba(46, 157, 220, 0.05);
    border: none;
    color: black;
    text-decoration: none;
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
}
.aboutUs:hover{
    background: #FFF;
}
.aboutUs:active{
    --bs-btn-active-bg: rgb(0,0,0,0.2);
}

.about-us-item {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}
.about-us-item .active {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    background: #2E8B57;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}
.list-group-item {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    background: #FFF;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2E8B57;
}
.list-group-item .active {
    padding: 16px 30px 16px 30px;
    gap: 20px;
    border-radius: 6px;
    background: #2E8B57;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}
.userProfile{
    border-radius: 6px;
    vertical-align: middle;
    align-items: center;
    background: #FFF;
}

.welcome-text{
    color: #E0E0E0;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
}

.client-name{
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    max-width: 155px;
}
.isActiveNav{
    color: #1d49a6;
    font-weight: bolder;
}
.view{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    padding: 15px;
    border-radius: 10px;
    width: 35%;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: large;
    box-shadow: 10px 1px 19px 3px rgba(113,107,107,0.59);
    -webkit-box-shadow: 10px 1px 19px 3px rgba(113,107,107,0.59);
    -moz-box-shadow: 10px 1px 19px 3px rgba(113,107,107,0.59);
}
.heading{
    margin: auto;
    width: 35%;
}
#bdSidebar {
    overflow-y: auto;
    height: 100vh;
    width: 280px;
}
#navLogo {
    align-content: center;
    width: 150px;
    height: 130px;
    left: calc(50% - 100px/2 - 641px);
    top: calc(50% - 100px/2 - 398px);
}
.mynav, .topNav {
    color: black;
}
.topNav li a{
    color: black;
    text-decoration: none;
}
.mynav li a {
    color: black;
    text-decoration: none;
    width: 100%;
    /* display: block; */
    border-radius: 5px;
    padding: 8px 10px;
    display: flex;
    /* padding-left: 10px; */
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mynav li a:hover, .topNav li a:hover {
    background: rgba(0, 0, 0, 0.2);
}
.mynav li a i {
    width: 25px;
    text-align: center;
}
li .nav-item .active{
    color: #2E8B57;
}
.copyRt {
    color: #2E8B57 !important;
    margin-top: 100vh;
    text-align: center;
    font-size: small !important;
    font-weight: 500 !important;
    position: fixed;
    bottom: 0;
}