body{
    /*background-color: #FCBB12;*/
    background-color: #FEB272;
    font-family: Arial, Helvetica, sans-serif;
}
#landing-page{
    background-image: url("../img/banner1.png");
    min-height: 100vh;
    /*width: 100vw;*/
    /*overflow: hidden;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    justify-content: center;
    align-items: center;
}
.login-form{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    /* Apply the blur effect to the background behind this element */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For compatibility */

    color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: large;
}
#floatingPassword{
    width: 100%;
    border-radius: 5px;
    border-right: none;
}
#passwordReveal{
    height: 100%;
    position: absolute;
    border: 1px solid #dee2e6;
    border-left: none;
    background-color: transparent;
    right: 0;
    opacity: 0.7;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
}
#passwordReveal img{
    height: 60%;
}
.signIn{
    padding: 10px 32px;
    /*background-color: #2E8B57;*/
    /*color: white;*/
    border: none;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 14px;
}